.Offers
    flex-grow: 1
    display: flex
    flex-direction: column
    justify-content: flex-start

    &__nav
        display: grid
        grid-template-columns: 4rem 1fr 4rem
        grid-template-rows: 1fr
        grid-template-areas: "back pagination ."
        height: 4rem
        padding: 2rem 0

        &--button
            grid-area: back
            width: 4rem
            height: 4rem
            margin: 0
            padding: 0
            border-radius: 4rem
            font-weight: 600
            font-size: 2.75rem
            line-height: 2.75rem
            padding-left: 0.2rem
            color: $color__light--1
            background: none
            border: 0.4rem solid $color__light--1
            transform: scaleX(-1)

        &--pagination
            grid-area: pagination

    &__list
        flex-grow: 1
        display: flex
        flex-direction: column
        justify-content: flex-start
        align-items: center
        width: 100%
